<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <package android:name="cloud.hubera.music" />
        <package android:name="ovh.delhomme.ytmusic" />
        <package android:name="cloud.hubera.maps" />
        <package android:name="ovh.delhomme.maps" />
        <package android:name="cloud.hubera.fuel" />
        <package android:name="com.gasoiltracking.app" />
        <package android:name="cloud.hubera.docs" />
        <package android:name="ovh.delhomme.hubera.docs" />
        <package android:name="cloud.hubera.calendar" />
        <package android:name="fr.cloudity.cloudity_calendar" />
        <package android:name="cloud.hubera.drive" />
        <package android:name="fr.cloudity.cloudity_drive" />
        <package android:name="cloud.hubera.mail" />
        <package android:name="fr.cloudity.cloudity_mail" />
        <package android:name="cloud.hubera.pass" />
        <package android:name="com.cloudity.cloudity_pass" />
        <package android:name="cloud.hubera.jobs" />
        <package android:name="ovh.delhomme.jobbingtrack" />
        <package android:name="cloud.hubera.id" />
        <package android:name="cloud.hubera.photos" />
        <package android:name="fr.cloudity.cloudity_photos" />
        <package android:name="cloud.hubera.contacts" />
        <package android:name="fr.cloudity.cloudity_contacts" />
        <package android:name="cloud.hubera.notes" />
        <package android:name="fr.cloudity.cloudity_notes" />
        <package android:name="cloud.hubera.cook" />
        <package android:name="fr.cloudity.cloudity_cook" />
        <package android:name="cloud.hubera.tasks" />
        <package android:name="fr.cloudity.cloudity_tasks" />
        <package android:name="cloud.hubera.office.docs" />
        <package android:name="cloud.hubera.budget" />
        <package android:name="cloud.hubera.stream" />
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="hubera-maps" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="hubera-music" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="hubera-fuel" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="hubera-docs" />
        </intent>
    </queries>
</manifest>
